.navwrap {
  border-bottom: 2px solid #e38127;
  display: flex;
  justify-content: space-between;
}
.logowrap {
  margin: auto 0 auto 0;
}
.nav {
  width: 30%;
}
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.profile {
  border: 1px solid black;
  border-radius: 20px;
  width: 20px;
  padding: 60%;
}
