.navwrap {
  border-bottom: 2px solid #e38127;
  display: flex;
  justify-content: space-between;
}
.logowrap {
  margin: auto 0 auto 0;
}
.nav {
  width: 30%;
}
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.profile {
  border-radius:50%;
  width: 35px;
}
